.text-area {
    height: 100% !important;
    border: 2px solid #fd8103 !important;
    padding: 5px !important;
}

.card-background {
    height: 375px;
    background-image: url(../../../assets/output-onlinepngtools.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 0em 1em;

    @media only screen and (max-width: 800px) {
        height: 28vh;
    }
}

.card-special-arrow {
    left: 90%;
    top: 40%;
    background-color: white;
    border: 3px solid #fd8103;
}

.card-img-container {
    height: 30%;
    align-content: end;

    @media only screen and (max-width: 800px) {
        // height: 20%;
    }
}

.card-img {
    height: 7vh;
    width: fit-content;
    align-self: center;
}

.vehicle-img {
    height: 38vh;
    width: 100%;
    border-radius: 5px 5px 0px 0px;

    @media only screen and (max-width: 800px) {
        height: 20vh;
    }
}

.card-with-text-img {
    height: 50vh;
    width: 17vw;
    background-color: white;
    border-radius: 5px;

    @media only screen and (max-width: 800px) {
        height: 30vh;
        width: 40vw;    
    }
}