<div class="component-container scroll-container">
    <!-- Shuttles for groups -->
    <div class="section purple-text p-0">
        <div class="section-title">
            Shuttles for groups.
        </div>
        <p class="section-text">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
        </p>
        <div class="cards pt-50">
            <div class="row sm">
                <div class="col- card card-background" *ngFor="let card of cards; index as i" [ngStyle]="{'margin': i >= 3 ? '5px 5px 0px 5px' : '0px 5px 5px 5px'}">
                    <div class="card-img-container">
                        <img class="card-img" src="../../../assets/Purpura-Naranja.png"/>
                    </div>
        
                    <div class="h-70 justify-content-around">
                        <div class="font-xl lh-1"><b>{{card.title}}</b></div>
                        <div class="pt-50 card-content-text">{{card.text}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vehicles for all needs -->
    <div class="section-xl section-purple neg-margin white-text">
        <div class="section-title">
            Vehicles for all needs
        </div>
        <p class="section-text">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
        </p>
        <div style="justify-self: center;">
            <div class="row sm">
                <div class="col- text-align-center card-with-text-img p-0" *ngFor="let car of cars; index as i" [ngStyle]="{'margin': i >= 3 ? '5px 5px 0px 5px' : '0px 5px 5px 5px'}">
                    <div class="align-items-center">
                        <img class="vehicle-img" src="../../../assets/beverages.jpg"/>
                    </div>
                    <p><b class="purple-text font-l">{{car.name}}</b></p>
                    <div class="d-flex w-100">
                        <button class="icon-btn-sm icon-fw w-25">
                            <mat-icon>person</mat-icon>
                        </button>
                        <p><b class="purple-text font-m w-75" style="padding-left: 30px;">Up to {{car.passengers}} passengers</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-container-l pt-50">
            <div class="section-text">Contact us to get a free, <b>no obligation quote</b>. Our team will get back to you immediately</div>
            <button class="btn-submit w-auto" style="margin-left: 20px;">Contact Us</button>
        </div>
    </div>

    <!-- Start your Group reservation -->
    <div class="section purple-text p-0">
        <div class="section-title w-100">
            Start your Group Reservation
        </div>

        <form [formGroup]="contactInformationForm" center>
            <div class="section-text">
                Please fill the following form, and write us a short message regarding your inquiry. Our team will reach back as soon as possible.
                <div class="d-flex justify-content-between pt-20">
                    <b>If you Wish to make a reservation, press "Book Now".</b>
                </div>
            </div>

            <div class="row section-form">
                <!-- Mat-Input - Full Name -->
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Full Name</mat-label>
                        <input matInput id="fullName" formControlName="fullName" class="form-control" name="fullName" placeholder="Type your full name">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Email -->
                <div class="col-3">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput id="email" formControlName="email" class="form-control" name="email" placeholder="Type your email adrress">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Phone -->
                <div class="col-3">
                    <mat-form-field class="w-100">
                        <mat-label>Phone Number</mat-label>
                        <input matInput id="phone" formControlName="phone" class="form-control" name="phone" placeholder="Type your phone number">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Message -->
                <div class="col-9 pt-50">
                    <!-- <div>Message</div> -->
                    <mat-form-field class="w-100 no-underline" >
                        <mat-label>Type your message.</mat-label>
                        <textarea matInput id="message" formControlName="message" class="text-area" name="message" placeholder="Type your message." rows="15"></textarea>
                    </mat-form-field>
                </div>

                <!-- Btn - Submit -->
                <div class="col-3 pt-50 align-self-end">
                    <div class="btn-container">
                        <button class="btn-submit" (click)="performRequest()">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <div class="section-sm section-purple neg-margin">
        <app-footer></app-footer>
    </div>
</div>