<div class="component-container scroll-container">
    <!-- Get In Touch -->
    <div class="section purple-text p-0">
        <div class="section-title">
            Get in Touch.
        </div>
        <form [formGroup]="contactInformationForm" center>
            <div class="section-text">
                Please fill the following form, and write us a short message regarding your inquiry. Our team will reach back as soon as possible.
                <div class="d-flex justify-content-between pt-20">
                    <b>If you Wish to make a reservation, press "Book Now".</b>
                    <div class="btn-container">
                        <button class="btn-submit" (click)="router.navigateByUrl('/book-now')">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="row section-form">
                <!-- Mat-Input - Full Name -->
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Full Name</mat-label>
                        <input matInput id="fullName" formControlName="fullName" class="form-control" name="fullName" placeholder="Type your full name">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Email -->
                <div class="col-3">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput id="email" formControlName="email" class="form-control" name="email" placeholder="Type your email adrress">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Phone -->
                <div class="col-3">
                    <mat-form-field class="w-100">
                        <mat-label>Phone Number</mat-label>
                        <input matInput id="phone" formControlName="phone" class="form-control" name="phone" placeholder="Type your phone number">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Message -->
                <div class="col-9 pt-50">
                    <!-- <div>Message</div> -->
                    <mat-form-field class="w-100 no-underline" >
                        <mat-label>Type your message.</mat-label>
                        <textarea matInput id="message" formControlName="message" class="text-area" name="message" placeholder="Type your message." rows="15"></textarea>
                    </mat-form-field>
                </div>

                <!-- Btn - Submit -->
                <div class="col-3 pt-50 align-self-end">
                    <div class="btn-container">
                        <button class="btn-submit" (click)="performRequest()">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>