<div class="component-container scroll-container">
    <!-- Get In Touch -->
    <div class="section-fit-content purple-text">
        <div class="section-title">
            Get in Touch.
        </div>
        <form [formGroup]="contactInformationForm" center>
            <div class="section-text">
                Please fill the following form, and write us a short message regarding your inquiry. Our team will reach back as soon as possible.
                <div class="d-flex align-items-center pt-2">
                    <b>If you Wish to make a reservation, press "Book Now".</b>
                    <div class="btn-container font-m ps-2 ps-md-4">
                        <button class="btn-submit w-100" (click)="router.navigateByUrl('/book-now')">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="row section-form">
                <!-- Mat-Input - Full Name -->
                <div class="col-12 col-md-6 pb-3 pb-md-4">
                    <mat-form-field class="w-100" hideRequiredMarker="true">
                        <mat-label>Full Name</mat-label>
                        <input matInput id="fullName" formControlName="fullName" class="form-control" name="fullName" placeholder="Type your full name">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Email -->
                <div class="col-6 col-md-3 py-3 py-md-0">
                    <mat-form-field class="w-100" hideRequiredMarker="true">
                        <mat-label>Email</mat-label>
                        <input matInput id="email" formControlName="email" class="form-control" name="email" placeholder="Type your email adrress">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Phone -->
                <div class="col-6 col-md-3 py-3 py-md-0">
                    <mat-form-field class="w-100" hideRequiredMarker="true">
                        <mat-label>Phone Number</mat-label>
                        <input matInput id="phone" formControlName="phone" class="form-control" name="phone" placeholder="Type your phone number">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Message -->
                <div class="col-8 col-md-9 pt-4">
                    <mat-label>Message</mat-label>
                    <mat-form-field class="w-100 no-underline" hideRequiredMarker="true">
                        <textarea matInput id="message" formControlName="message" class="text-area" name="message" placeholder="Type your message." rows="12"></textarea>
                    </mat-form-field>
                </div>

                <!-- Btn - Submit -->
                <div class="btn-container font-m align-self-end">
                    <button class="btn-submit" (click)="performRequest()" [disabled]="btnDisabled">Send</button>
                </div>
            </div>
        </form>
    </div>
    
    <!-- Footer -->
    <div class="section-sm section-purple neg-margin">
        <app-footer></app-footer>
    </div>
</div>