<div class="component-container scroll-container">
    <div class="section-xxxl purple-text p-0">
        <div class="section-title">
            Stay up to Date.
        </div>
        <p class="section-text">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna. Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
        </p>
        <div class="pt-50" style="justify-self: center;">
            <div class="row sm">
                <div class="col-4 text-align-center card-with-text-img p-0" *ngFor="let blog of blogs; index as i" [ngStyle]="{'margin': i >= 3 ? '5px 5px 0px 5px' : '0px 5px 5px 5px'}">
                    <div class="align-items-center">
                        <img class="vehicle-img" src="../../../assets/beverages.jpg"/>
                    </div>

                    <div class="blog-text pt-20">
                        <p><b class="purple-text font-sm">{{blog.date}}</b></p>
                        <p><b class="purple-text font-l">{{blog.title}}</b></p>
                        <p><b class="purple-text font-m">{{blog.description}}</b></p>
                    </div>
                    <div class="btn-container justify-content-start">
                        <button class="btn-submit w-auto" (click)="openModal(blog)">Read Article</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-sm section-purple neg-margin">
        <app-footer></app-footer>
    </div>
</div>