<div class="footer-container">
    <div class="footer-title pt-4" style="justify-self: right;" [ngClass]="[!isBigSize ? 'w-100 font-s' : 'w-75']">
        <div class="d-flex justify-content-evenly white-text" [ngStyle]="{'padding-right': isBigSize ? '100px' : '0px'}">
            <div>Home</div>
            <div>How It Works</div>
            <div>Groups</div>
            <div>Activities</div>
            <div>Blog</div>
            <div>Contact</div>
            <div class="orange-text">Book Now</div>
        </div>
    </div>
    <div class="d-flex footer-content white-text" [ngClass]="[!isBigSize ? 'w-100 font-s' : '']">
        <div [ngStyle]="{'padding-left': isBigSize ? '25%' : '1%'}">
            <img class="img-container footer-logo" src="../../../assets/logo-footer.png"/>
        </div>
        
        <div class="footer-information">
            <div>Get in touch</div>
            <div>info&commat;mylift.com</div>
            <div>US: +1 (123) 4567890</div>
            <div>MX: +1 (123) 4567890</div>
        </div>

        <div class="footer-information">
            <div>Follow Us</div>
            <div>Facebook</div>
            <div>Instagram</div>
            <div>Trip Advisor</div>
        </div>

        <div style="padding-left: 25%;">
            <img class="img-container footer-logo" src="../../../assets/logo-footer.png"/>
        </div>
    </div>
</div>
