.footer-container {
    height: 350px;
    background-color: #310370;
}

.footer-title {
    height: 100px;
}

.footer-content {
    height: 200px;
}

.footer-logo {
    height: 200px;
    width: 100px;
}

.footer-information {
    padding-left: 50px;
    line-height: 40px;
}