<div class="modal-container">
    <div class="purple-text p-0">
        <div class="px-2 px-md-5">
            <p class="font-xxl">
                {{dataIn.blog.title}}
            </p>
            <p class="font-m">
                {{dataIn.blog.description}}
            </p>
        </div>

        <div class="align-items-center">
            <img class="vehicle-img" src="../../../assets/beverages.jpg"/>
        </div>

        <div class="px-2 px-md-5 pt-2">
            <p class="font-xl">{{dataIn.blog.titleSectionOne}}</p>
            <p class="font-m">{{dataIn.blog.textSectionOne}}</p>
    
            <p class="font-xl">{{dataIn.blog.titleSectionTwo}}</p>
            <p class="font-m">{{dataIn.blog.textSectionTwo}}</p>
        </div>

        <div class="px-2 px-md-5 btn-container">
            <button class="btn-return" (click)="closeModal()"> < Go Back</button>
        </div>
    </div>
</div>
