<div class="sidebar">
    <div *ngFor="let item of sidebarMenu; index as i" class="d-flex sbButtonList">
        <button class="sbButton text-button" 
                [routerLink]="item.url" 
                [ngClass]="{'selected-btn': selected == '/' + item.url}"
                (click)="selected = '/' + item.url">
            <!-- <mat-icon>{{item.icon}}</mat-icon> -->
            <div class="sbButtonText" [ngClass]="[i + 1 == sidebarMenu.length ? 'orange-text' : '']">
                {{item.name}}
            </div>
        </button>
    </div>
</div>
