<div class="component-container scroll-container">
    <!-- Book your transfer -->
    <div class="section p-0">
        <div class="section-title purple-text">
            Book your Private Transfer.
        </div>
        <mat-tab-group #tabGroup>
            <mat-tab label="From Airport to  Hotel">
                <div class="tab-container purple-text">
                    <form [formGroup]="transferDetailsForm">
                        <div class="row pd-50">
                            <!-- Mat-Select - Airport -->
                            <div class="col-5">
                                <mat-label>From</mat-label>
                                <mat-form-field class="w-100">
                                    <mat-select matNativeControl id="origin" formControlName="origin" class="form-control" name="origin">
                                        <mat-option *ngFor="let airport of airportOptions" [value]="airport.name">{{airport.name}}</mat-option>
                                    </mat-select>
                                    <mat-error>Error</mat-error>
                                </mat-form-field>
                            </div>
    
                            <!-- Mat-Button - Change Locations -->
                            <div class="col-1">
                                <button class="icon-btn-sm icon-fw" (click)="tabGroup.selectedIndex = 1">
                                    <mat-icon>swap_horiz</mat-icon>
                                </button>
                            </div>
    
                            <!-- Mat-Select - Hotel -->
                            <div class="col-6">
                                <mat-label>To</mat-label>
                                <mat-form-field class="w-100">
                                    <mat-select matNativeControl id="destination" formControlName="destination" class="form-control" name="destination">
                                        <mat-option *ngFor="let hotel of hotelOptions" [value]="hotel.name">{{hotel.name}}</mat-option>
                                    </mat-select>
                                    <mat-error>Error</mat-error>
                                </mat-form-field>
                            </div>
    
                            <!-- Qty-Btns - Adults -->
                            <div class="col-3 pt-20">
                                <div class="btn-label">Adults</div>
                                <div class="d-flex">
                                    <button class="round-btn-sm" (click)="adultsNo = adultsNo ? adultsNo - 1 : adultsNo">-</button>
                                    <div class="mx-4"><b>{{adultsNo}}</b></div>
                                    <button class="round-btn-sm" (click)="adultsNo = adultsNo + 1">+</button>
                                </div>
                            </div>
    
                            <!-- Qty-Btns - Children -->
                            <div class="col-3 pt-20">
                                <div class="btn-label">Children (under 7 free ride)</div>
                                <div class="d-flex">
                                    <button class="round-btn-sm" (click)="childsNo = childsNo ? childsNo - 1 : childsNo">-</button>
                                    <div class="mx-4"><b>{{childsNo}}</b></div>
                                    <button class="round-btn-sm" (click)="childsNo = childsNo + 1">+</button>
                                </div>
                            </div>
    
                            <!-- Mat-Radio - One Way -->
                            <div class="col-3 pt-20">
                                <mat-radio-group aria-label="Select an option" matNativeControl id="roundTrip" formControlName="roundTrip" class="form-control" name="roundTrip" placeholder="roundTrip">
                                    <mat-radio-button id="oneWayRB" (click)="changeRB('oneWayRB', 'oneWayChecked')" [checked]="oneWayChecked" value=true>One-way</mat-radio-button>
                                </mat-radio-group>
                            </div>
    
                            <!-- Btn - Submit -->
                            <div class="col-3 align-self-end">
                                <div class="btn-container">
                                    <button class="btn-submit" (click)="performRequest()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>
    
            <mat-tab label="From Hotel to Airport">
                <div class="tab-container purple-text">
                    <form [formGroup]="transferDetailsForm" center>
                        <div class="row pd-50">
                            <!-- Mat-Select - Hotel -->
                            <div class="col-5">
                                <mat-label>To</mat-label>
                                <mat-form-field class="w-100">
                                    <mat-select matNativeControl id="destination" formControlName="destination" class="form-control" name="destination">
                                        <mat-option *ngFor="let hotel of hotelOptions" [value]="hotel.name">{{hotel.name}}</mat-option>
                                    </mat-select>
                                    <mat-error>Error</mat-error>
                                </mat-form-field>
                            </div>
                            
                            <!-- Mat-Button - Change Locations -->
                            <div class="col-1">
                                <button class="icon-btn-sm icon-fw" (click)="tabGroup.selectedIndex = 0">
                                    <mat-icon>swap_horiz</mat-icon>
                                </button>
                            </div>
                            
                            <!-- Mat-Select - Airport -->
                            <div class="col-6">
                                <mat-label>From</mat-label>
                                <mat-form-field class="w-100">
                                    <mat-select matNativeControl id="origin" formControlName="origin" class="form-control" name="origin">
                                        <mat-option *ngFor="let airport of airportOptions" [value]="airport.name">{{airport.name}}</mat-option>
                                    </mat-select>
                                    <mat-error>Error</mat-error>
                                </mat-form-field>
                            </div>
                            
                            <!-- Qty-Btns - Adults -->
                            <div class="col-3 pt-20">
                                <div class="btn-label">Adults</div>
                                <div class="d-flex">
                                    <button class="round-btn-sm" (click)="adultsNo = adultsNo ? adultsNo - 1 : adultsNo">-</button>
                                    <div class="mx-4"><b>{{adultsNo}}</b></div>
                                    <button class="round-btn-sm" (click)="adultsNo = adultsNo + 1">+</button>
                                </div>
                            </div>
    
                            <!-- Qty-Btns - Children -->
                            <div class="col-3 pt-20">
                                <div class="btn-label">Children (under 7 free ride)</div>
                                <div class="d-flex">
                                    <button class="round-btn-sm" (click)="childsNo = childsNo ? childsNo - 1 : childsNo">-</button>
                                    <div class="mx-4"><b>{{childsNo}}</b></div>
                                    <button class="round-btn-sm" (click)="childsNo = childsNo + 1">+</button>
                                </div>
                            </div>
    
                            <!-- Mat-Radio - One Way -->
                            <div class="col-3 pt-20">
                                <mat-radio-group aria-label="Select an option" matNativeControl id="roundTrip" formControlName="roundTrip" class="form-control" name="roundTrip" placeholder="roundTrip">
                                    <mat-radio-button id="oneWayRB" (click)="changeRB('oneWayRB', 'oneWayChecked')" [checked]="oneWayChecked" value=true>One-way</mat-radio-button>
                                </mat-radio-group>
                            </div>
    
                            <div class="col-3 align-self-end">
                                <div class="btn-container">
                                    <button class="btn-submit" (click)="performRequest()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>
    
            <mat-tab label="Confirmation and Payment">
                <div class="tab-container purple-text">
                    <form [formGroup]="contactInformationForm" center>
                        <div class="purple-text font-m">
                                Please fill the following form, provide us your address and as much information as possible regarding your private transfer. 
                                Our team will contact you as soon as possible.
                        </div>
    
                        <div class="row pd-50">
                            <!-- Mat-Input - First Name -->
                            <div class="col-6">
                                <mat-form-field class="w-100">
                                    <mat-label>Full Name</mat-label>
                                    <input matInput id="fullName" formControlName="fullName" class="form-control" name="fullName" placeholder="Type your full name">
                                </mat-form-field>
                            </div>
    
                            <!-- Mat-Input - Email -->
                            <div class="col-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput id="email" formControlName="email" class="form-control" name="email" placeholder="Type your email adrress">
                                </mat-form-field>
                            </div>
    
                            <!-- Mat-Input - Phone -->
                            <div class="col-3">
                                <mat-form-field class="w-100">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput id="phone" formControlName="phone" class="form-control" name="phone" placeholder="Type your phone number">
                                </mat-form-field>
                            </div>
    
                            <div class="col-9 pt-50">
                                <div>Message</div>
                                <mat-form-field class="w-100 no-underline" >
                                    <mat-label>Type your message.</mat-label>
                                    <textarea matInput id="message" formControlName="message" class="text-area" name="message" placeholder="Type your message." rows="5"></textarea>
                                </mat-form-field>
                            </div>
    
                            <div class="col-3 pt-50 align-self-end">
                                <div class="btn-container">
                                    <button class="btn-submit" (click)="performRequest()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <!-- Everything for your transfer -->
    <div class="section p-0">
        <div class="section-title purple-text">
            Everything for your Transfer.
        </div>
        <p class="purple-text section-text">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
        </p>
        <p class="purple-text section-text">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
        </p>
        <div class="row">
            <div class="col-3 text-align-center pt-50">
                <b class="purple-text font-l">Beverages</b>
                <div class="align-items-center pt-50">
                    <img class="card-img round-img" src="../../../assets/beverages.jpg"/>
                </div>
            </div>

            <div class="col-3 text-align-center pt-50">
                <b class="purple-text font-l">Grocery Stop</b>
                <div class="align-items-center pt-50">
                    <img class="card-img round-img" src="../../../assets/grocery.jpg"/>
                </div>
            </div>

            <div class="col-3 text-align-center pt-50">
                <b class="purple-text font-l">Bilingual Drivers</b>
                <div class="align-items-center pt-50">
                    <img class="card-img round-img" src="../../../assets/driver.jpg"/>
                </div>
            </div>

            <div class="col-3 text-align-center pt-50">
                <b class="purple-text font-l">Special Seats</b>
                <div class="align-items-center pt-50">
                    <img class="card-img round-img" src="../../../assets/booster.jpg"/>
                </div>
            </div>
        </div>
    </div>

    <!-- Who we are -->
    <div class="section-l purple-text p-0">
        <div class="section-title">
            Who we Are.
        </div>
        <p class="section-text w-75">
            <b>Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.</b>
        </p>
        <p class="section-text w-75">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
        </p>
        <div class="row section-text">
            <div class="col-4 d-flex pt-50">
                <div class="w-75">
                    <div class="card-title">Why Us?</div>
                    <div class="pt-50"><b>5 resons to love us</b></div>
                </div>
            </div>
            <div class="col-4 d-flex pt-50" *ngFor="let card of borderlessCards; index as i">
                <div class="w-75">
                    <div class="d-flex">
                        <div class="header-number">{{i + 1}}</div>
                        <div class="header-text"><b>{{card.header}}</b></div>
                    </div>
                    <div class="orange-text card-title pt-20">{{card.title}}</div>
                    <div class="pt-50">{{card.text}}</div>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <button class="btn-submit" (click)="router.navigateByUrl('/book-now')">Book Now</button>
        </div>
    </div>

    <!-- How It Works -->
    <div class="section purple-text p-0">
        <div class="section-header">
            <div class="d-flex align-items-end">
                <div class="font-50">How it Works.</div>
                <div class="font-l orange-text">4 Nice and easy steps</div>
            </div>
        </div>
        <div class="section-text">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
        </div>
    
        <div class="cards d-flex pt-xxl">
            <div class="card" *ngFor="let card of cardsSection1; index as i">
                <div class="card-special card-special-number">{{i+1}}</div>
                <div class="h-100 align-content-center">
                    <div class="font-xxl"><b>{{card.title}}</b></div>
                    <div class="card-content-text">{{card.text}}
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-container-l pt-50">
            <div class="section-text">Please visit our <b>How it Works</b> page for more information.</div>
            <button class="btn-submit w-auto" style="margin-left: 20px;" (click)="router.navigateByUrl('/how-it-works')">Learn How It Works</button>
        </div>
    </div>

    <!-- Gallery -->
    <div class="section purple-text p-0">
        <div class="section-title">
            Gallery.
        </div>
        <div class="section-text">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
        </div>

        <div class="d-flex justify-content-around align-items-center section-text">
            <button class="icon-btn-m icon-fw" (click)="changePicture()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="align-items-center pt-50">
                <img class="img-container sqr-500" src="../../../assets/grocery.jpg"/>
            </div>
            <div class="align-items-center pt-50">
                <img class="img-container sqr-500" src="../../../assets/grocery.jpg"/>
            </div>

            <button class="icon-btn-m icon-fw" (click)="changePicture()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>

    <!-- Reviews -->
    <div class="section purple-text p-0">
        <div class="section-header">
            <div class="d-flex align-items-end">
                <div class="font-50">Reviews.</div>
                <div class="font-m font-m-xxl orange-text">Our reputation speaks for us.</div>
            </div>
        </div>
        <p class="section-text"><b>Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.</b></p>
        
        <div class="cards d-block pt-20">
            <div class="card card-user" [ngClass]="[i > 0 ? 'mt-20' : '']" *ngFor="let comment of commentsOptions; index as i">
                <div class="d-flex w-100 h-100">
                    <div class="card-user-left">
                        <div><b>{{comment.name}}</b></div>
                        <div class="pt-20">Date: {{comment.date}}</div>
                        <div>{{comment.stars}} estrellas</div>
                    </div>
                    <div class="card-user-right">
                        <div><em><b>"{{comment.messageTitle}}"</b></em></div>
                        <div class="pt-20">{{comment.messageText}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Get In Touch -->
    <div class="section purple-text p-0">
        <div class="section-title">
            Get in Touch.
        </div>
        <form [formGroup]="contactInformationForm" center>
            <div class="section-text">
                Please fill the following form, and write us a short message regarding your inquiry. Our team will reach back as soon as possible.
                <div class="d-flex justify-content-between pt-20">
                    <b>If you Wish to make a reservation, press "Book Now".</b>
                    <div class="btn-container">
                        <button class="btn-submit" (click)="router.navigateByUrl('/book-now')">Book Now</button>
                    </div>
                </div>
            </div>

            <div class="row section-form">
                <!-- Mat-Input - Full Name -->
                <div class="col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Full Name</mat-label>
                        <input matInput id="fullName" formControlName="fullName" class="form-control" name="fullName" placeholder="Type your full name">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Email -->
                <div class="col-3">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput id="email" formControlName="email" class="form-control" name="email" placeholder="Type your email adrress">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Phone -->
                <div class="col-3">
                    <mat-form-field class="w-100">
                        <mat-label>Phone Number</mat-label>
                        <input matInput id="phone" formControlName="phone" class="form-control" name="phone" placeholder="Type your phone number">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Message -->
                <div class="col-9 pt-50">
                    <!-- <div>Message</div> -->
                    <mat-form-field class="w-100 no-underline" >
                        <mat-label>Type your message.</mat-label>
                        <textarea matInput id="message" formControlName="message" class="text-area" name="message" placeholder="Type your message." rows="15"></textarea>
                    </mat-form-field>
                </div>

                <!-- Btn - Submit -->
                <div class="col-3 pt-50 align-self-end">
                    <div class="btn-container">
                        <button class="btn-submit" (click)="performRequest()">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <div class="section-sm section-purple neg-margin">
        <app-footer></app-footer>
    </div>
</div>