<div class="navbar justify-content-around">
    <img class="img-navbar" src="../../../assets/Naranja.png"/>
    <div class="justify-content-between btn-container">
        <button class="text-button" [ngClass]="{'selected-btn': selected == '/home'}" (click)="move('/home')">Home</button>
        <button class="text-button" [ngClass]="{'selected-btn': selected == '/how-it-works'}" (click)="move('/how-it-works')">How it Works</button>
        <button class="text-button">Groups</button>
        <button class="text-button">Activities</button>
        <button class="text-button">Blog</button>
        <button class="text-button">Contact</button>
        <button class="text-button book-btn">Book Now</button>
    </div>
    <!-- <div>
        <button class="solid-button">Crear +</button>
        <button class="bton" (click)="logout()">logout</button>
    </div> -->
</div>
