.btn-container {
    height: 100%;
}

.img-navbar {
    height: 6vh;
}

.text-button {
    color: white;
    height: 100%;
    width: 110px;
    text-decoration: none;
    background: linear-gradient(#fd8103 0 0) 
        bottom/
        var(--underline-width, 0%) 0.3em
        no-repeat;
    transition: background-size 0.5s;
}

.text-button:hover {
    --underline-width: 100%;
}

.selected-btn {
    --underline-width:100%;
}

.book-btn {
    background-color: #fd8103;
    color: #310370;
}