<div class="component-container">
    <div class="section-title purple-text">
        Book your Private Transfer.
    </div>
    <mat-tab-group #tabGroup>
        <mat-tab label="Transfer Details">
            <div class="tab-container purple-text">
                <form [formGroup]="transferDetailsForm" center>
                    <div class="tab-header">
                        <b>Your Transfer</b>
                    </div>
                    <div class="row row-underline pd-50">
                        <!-- Mat-Select - Origin -->
                        <div class="col-5">
                            <mat-label class="">From</mat-label>
                            <mat-form-field class="w-100">
                                <mat-select matNativeControl id="origin" formControlName="origin" class="form-control" name="origin">
                                    <mat-option *ngFor="let origin of originOptions" [value]="origin.name">{{origin.name}}</mat-option>
                                </mat-select>
                                <mat-error>Error</mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Mat-Button - Change Locations -->
                        <div class="col-1">
                            <button class="icon-btn-sm icon-fw" (click)="changeLocations(transferDetailsForm.get('origin').value, transferDetailsForm.get('destination').value)">
                                <mat-icon>swap_horiz</mat-icon>
                            </button>
                        </div>

                        <!-- Mat-Select - Destination -->
                        <div class="col-6">
                            <mat-label class="">To</mat-label>
                            <mat-form-field class="w-100">
                                <mat-select matNativeControl id="destination" formControlName="destination" class="form-control" name="destination">
                                    <mat-option *ngFor="let destination of destinationOptions" [value]="destination.name">{{destination.name}}</mat-option>
                                </mat-select>
                                <mat-error>Error</mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Qty-Btns - Adults -->
                        <div class="col-3 pt-20">
                            <div class="btn-label">Adults</div>
                            <div class="d-flex">
                                <button class="round-btn-sm" (click)="adultsQty = adultsQty ? adultsQty - 1 : adultsQty">-</button>
                                <div class="mx-4"><b>{{adultsQty}}</b></div>
                                <button class="round-btn-sm" (click)="adultsQty = adultsQty + 1">+</button>
                            </div>
                        </div>

                        <!-- Qty-Btns - Children -->
                        <div class="col-3 pt-20">
                            <div class="btn-label">Children (under 7 free ride)</div>
                            <div class="d-flex">
                                <button class="round-btn-sm" (click)="childsQty = childsQty ? childsQty - 1 : childsQty">-</button>
                                <div class="mx-4"><b>{{childsQty}}</b></div>
                                <button class="round-btn-sm" (click)="childsQty = childsQty + 1">+</button>
                            </div>
                        </div>

                        <!-- Mat-Radio - One Way -->
                        <div class="col-6 pt-20">
                            <mat-radio-group aria-label="Select an option" matNativeControl id="oneWay" formControlName="oneWay" class="form-control" name="oneWay" placeholder="oneWay">
                                <mat-radio-button id="oneWayRB" (click)="changeRB('oneWayRB', 'oneWayChecked')" [checked]="oneWayChecked" value=true>One-way</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="tab-header pt-50">
                        <b>Arrival Flight Information</b>
                    </div>
                    <div class="row pd-50">
                        <!-- Mat-Select - Arrival Airline -->
                        <div class="col-5">
                            <mat-label class="">Airline</mat-label>
                            <mat-form-field class="w-100">
                                <mat-select matNativeControl id="arrivalAirline" formControlName="arrivalAirline" class="form-control" name="arrivalAirline">
                                    <mat-option *ngFor="let aAirline of aAirlineOptions" [value]="aAirline.id">{{aAirline.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- Mat-Select - Arrival Flight Number -->
                        <div class="col-2">
                            <mat-form-field class="w-100">
                                <mat-label>Flight Number</mat-label>
                                <input matInput id="arrivalFlightNo" formControlName="arrivalFlightNo" class="form-control" name="arrivalFlightNo" placeholder="Flight Number">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Date -->
                        <div class="col-2">
                            <mat-form-field class="w-100 datePicker">
                                <mat-label>Choose a date</mat-label>
                                <input matInput id="arrivalDate" formControlName="arrivalDate" class="form-control" name="arrivalDate" placeholder="mm/dd/yyyy" [matDatepicker]="arrivalDatePicker">
                                <mat-datepicker-toggle matIconSuffix [for]="arrivalDatePicker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #arrivalDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Time -->
                        <div class="col-1 d-flex">
                            <mat-form-field class="w-100">
                                <mat-label>Time</mat-label>
                                <input matInput type="text" maxlength="2" id="arrivalTimeHours" formControlName="arrivalTimeHours" class="form-control" name="arrivalTimeHours" placeholder="00">
                                <mat-error>Invalid Time</mat-error>
                            </mat-form-field>
                            <div class="align-content-center">
                                <b>:</b>
                            </div>
                        </div>

                        <!-- Mat-Input - Date -->
                        <div class="col-1">
                            <mat-form-field class="w-100">
                                <mat-label></mat-label>
                                <input matInput type="text" maxlength="2" max="60" id="arrivalTimeMinutes" formControlName="arrivalTimeMinutes" class="form-control" name="arrivalTimeMinutes" placeholder="00">
                                <mat-error>Invalid Time</mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Time -->
                        <div class="col-1">
                            <mat-label class="">AM/PM</mat-label>
                            <mat-form-field class="w-100">
                                <mat-select matNativeControl id="arrivalTimeAP" formControlName="arrivalTimeAP" class="form-control" name="arrivalTimeAP">
                                    <mat-option value="AM">AM</mat-option>
                                    <mat-option value="PM">PM</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="tab-header">
                        <b>Departure Flight Information</b>
                    </div>
                    <div class="row pd-50">
                        <!-- Mat-Select - Departure Airline -->
                        <div class="col-5">
                            <mat-label class="">Airline</mat-label>
                            <mat-form-field class="w-100">
                                <mat-select matNativeControl id="departureAirline" formControlName="departureAirline" class="form-control" name="departureAirline">
                                    <mat-option *ngFor="let dAirline of dAirlineOptions" [value]="dAirline.name">{{dAirline.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- Mat-Select - Departure Flight Number -->
                        <div class="col-2">
                            <mat-form-field class="w-100">
                                <mat-label>Flight Number</mat-label>
                                <input matInput id="departureFlightNo" formControlName="departureFlightNo" class="form-control" name="departureFlightNo" placeholder="Flight Number">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Date -->
                        <div class="col-2">
                            <mat-form-field class="w-100 datePicker">
                                <mat-label>Choose a date</mat-label>
                                <input matInput id="departureDate" formControlName="departureDate" class="form-control" name="departureDate" placeholder="mm/dd/yyyy" [matDatepicker]="departureDatePicker">
                                <mat-datepicker-toggle matIconSuffix [for]="departureDatePicker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #departureDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Time -->
                        <div class="col-1 d-flex">
                            <mat-form-field class="w-100">
                                <mat-label>Time</mat-label>
                                <input matInput type="text" maxlength="2" id="departureTimeHours" formControlName="departureTimeHours" class="form-control" name="departureTimeHours" placeholder="00">
                                <mat-error>Invalid Time</mat-error>
                            </mat-form-field>
                            <div class="align-content-center">
                                <b>:</b>
                            </div>
                        </div>

                        <!-- Mat-Input - Time -->
                        <div class="col-1">
                            <mat-form-field class="w-100">
                                <mat-label></mat-label>
                                <input matInput type="text" maxlength="2" max="60" id="departureTimeMinutes" formControlName="departureTimeMinutes" class="form-control" name="departureTimeMinutes" placeholder="00">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Time -->
                        <div class="col-1">
                            <mat-label class="">AM/PM</mat-label>
                            <mat-form-field class="w-100">
                                <mat-select matNativeControl id="departureTimeAP" formControlName="departureTimeAP" class="form-control" name="departureTimeAP">
                                    <mat-option value="AM">AM</mat-option>
                                    <mat-option value="PM">PM</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="tab-header">
                        <b>Special Requests</b> (Water and beers already included)
                    </div>
                    <div class="row pd-50">
                        <div class="col-3">
                            <mat-radio-group aria-label="Select an option" matNativeControl id="booster" formControlName="booster" class="form-control" name="booster" placeholder="booster">
                                <mat-radio-button id="boosterRB" (click)="changeRB('boosterRB', 'boosterChecked')" [checked]="boosterChecked" value=true>Booster Seat</mat-radio-button>
                            </mat-radio-group>
                            <mat-radio-group aria-label="Select an option" matNativeControl id="baby" formControlName="baby" class="form-control" name="baby" placeholder="baby">
                                <mat-radio-button id="babyRB" (click)="changeRB('babyRB', 'babyChecked')" [checked]="babyChecked" value=true>Baby Seat</mat-radio-button>
                            </mat-radio-group>
                            <mat-radio-group aria-label="Select an option" matNativeControl id="wheel" formControlName="wheel" class="form-control" name="wheel" placeholder="wheel">
                                <mat-radio-button id="wheelRB" (click)="changeRB('wheelRB', 'wheelChecked')" [checked]="wheelChecked" value=true>Wheel Chair</mat-radio-button>
                            </mat-radio-group>
                            <mat-radio-group aria-label="Select an option" matNativeControl id="grocery" formControlName="grocery" class="form-control" name="grocery" placeholder="grocery">
                                <mat-radio-button id="groceryRB" (click)="changeRB('groceryRB', 'groceryChecked')" [checked]="groceryChecked" value=true>Grocery Stop</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="col-9">
                            <div>Other Requests</div>
                            <mat-form-field class="w-100 no-underline" >
                                <mat-label>Type your message.</mat-label>
                                <textarea matInput id="request" formControlName="request" class="text-area" name="request" placeholder="Ex. It makes me feel..." rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="btn-container">
                    <button class="btn-submit" (click)="performRequest(); transferDetailsForm.valid ? tabGroup.selectedIndex = 1 : tabGroup.selectedIndex = 0">Next</button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Contact Information" [disabled]="!transferDetailsForm.valid">
            <div class="tab-container purple-text">
                <form [formGroup]="contactInformationForm" (ngSubmit)="performRequest()" center>
                    <div class="tab-header">
                        <b>Contact Information</b>
                    </div>
                    <div class="row row-underline pd-50">
                        <!-- Mat-Input - First Name -->
                        <div class="col-6">
                            <mat-form-field class="w-75">
                                <mat-label>First Name</mat-label>
                                <input matInput id="firstName" formControlName="firstName" class="form-control" name="firstName" placeholder="Type your first name">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Last Name -->
                        <div class="col-6">
                            <mat-form-field class="w-75">
                                <mat-label>Last Name</mat-label>
                                <input matInput id="lastName" formControlName="lastName" class="form-control" name="lastName" placeholder="Type your Last name">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Email -->
                        <div class="col-6 pt-20">
                            <mat-form-field class="w-75">
                                <mat-label>Email</mat-label>
                                <input matInput id="email" formControlName="email" class="form-control" name="email" placeholder="Type your email adrress">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Confirm Email -->
                        <div class="col-6 pt-20">
                            <mat-form-field class="w-75">
                                <mat-label>Confirm your Email</mat-label>
                                <input matInput id="confEmail" formControlName="confEmail" class="form-control" name="confEmail" placeholder="Type your email adrress">
                                <mat-error>Error</mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Phone -->
                        <div class="col-6 pt-20">
                            <mat-form-field class="w-50">
                                <mat-label>Phone Number</mat-label>
                                <input matInput id="phone" formControlName="phone" class="form-control" name="phone" placeholder="Type your phone number">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Confirm Phone -->
                        <div class="col-6 pt-20">
                            <mat-form-field class="w-50">
                                <mat-label>Confirm your Phone Number</mat-label>
                                <input matInput id="confPhone" formControlName="confPhone" class="form-control" name="confPhone" placeholder="Type your phone number">
                                <mat-error>Error</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="tab-header pt-50">
                        <b>Address</b>
                    </div>
                    <div class="row pd-50">
                        <!-- Mat-Input - Street Name 1 -->
                        <div class="col-6">
                            <mat-form-field class="w-75">
                                <mat-label>Street Name 1</mat-label>
                                <input matInput id="streetName1" formControlName="streetName1" class="form-control" name="streetName1" placeholder="Type the name of the street">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Street Name 1 -->
                        <div class="col-6">
                            <mat-form-field class="w-75">
                                <mat-label>Street Name 2 (Optional)</mat-label>
                                <input matInput id="streetName2" formControlName="streetName2" class="form-control" name="streetName2" placeholder="Type the name of the street">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Exterior Number -->
                        <div class="col-3 pt-20">
                            <mat-form-field class="w-50">
                                <mat-label>Exterior Number</mat-label>
                                <input matInput id="exteriorNo" formControlName="exteriorNo" class="form-control" name="exteriorNo" placeholder="Number">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Interior Number -->
                        <div class="col-3 pt-20">
                            <mat-form-field class="w-50">
                                <mat-label>Interior Number</mat-label>
                                <input matInput id="interiorNo" formControlName="interiorNo" class="form-control" name="interiorNo" placeholder="Number">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Neighborhood -->
                        <div class="col-6">
                            <mat-form-field class="w-75">
                                <mat-label>Neighborhood (Optional)</mat-label>
                                <input matInput id="colony" formControlName="colony" class="form-control" name="colony" placeholder="Type your neighborhood">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Input - Zip Code -->
                        <div class="col-3 pt-20">
                            <mat-form-field class="w-50">
                                <mat-label>Zip Code</mat-label>
                                <input matInput id="zipCode" formControlName="zipCode" class="form-control" name="zipCode" placeholder="Number">
                            </mat-form-field>
                        </div>

                        <!-- Mat-Select - Country -->
                        <div class="col-3 pt-20">
                            <mat-label class="">Country</mat-label>
                            <mat-form-field class="w-100">
                                <mat-select matNativeControl id="country" formControlName="country" class="form-control" name="country">
                                    <mat-option *ngFor="let country of countryOptions" [value]="country.name">{{country.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-between">
                    <div class="btn-container">
                        <button class="btn-return" (click)="tabGroup.selectedIndex = 0"> < Go Back</button>
                    </div>
                    <div class="btn-container">
                        <button class="btn-submit" (click)="performRequest(); transferDetailsForm.valid ? tabGroup.selectedIndex = 2 : tabGroup.selectedIndex = 1">Next</button>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Confirmation and Payment" [disabled]="!transferDetailsForm.valid || !contactInformationForm.valid">
            <div class="tab-container purple-text">
                <div class="tab-header orange-text">
                    Please confirm your transfer, flights and request information.
                </div>
                <div class="tab-header pd-50 d-flex justify-content-between">
                    <b>Your Transfer Details</b>
                    <button class="btn-return" (click)="tabGroup.selectedIndex = 0"> < Edit</button>
                </div>
                <div class="row row-underline pb-50">
                    <div class="col-4">
                        From
                        <div class="pt-10">
                            <b>{{transferDetailsForm.get("origin").value}}</b>
                        </div>
                    </div>

                    <div class="col-4">
                        To
                        <div class="pt-10">
                            <b>{{transferDetailsForm.get("destination").value}}</b>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="w-50 pt-20">
                            <b>{{oneWayChecked ? 'One Way' : 'Round Trip'}}</b>
                        </div>
                    </div>

                    <div class="col-2 pt-20">
                        Adults
                        <div class="pt-10">
                            <b>{{transferDetailsForm.get("adultsQty").value}}</b>
                        </div>
                    </div>

                    <div class="col-2 pt-20">
                        Children
                        <div class="pt-10">
                            <b>{{transferDetailsForm.get("childsQty").value}}</b>
                        </div>
                    </div>
                </div>

                <div class="tab-header pd-50 d-flex justify-content-between">
                    <b>Arrival Flight Information</b>
                    <button class="btn-return" (click)="tabGroup.selectedIndex = 0"> < Edit</button>
                </div>
                <div class="row row-underline pb-50">
                    <div class="col-4">
                        Airline
                        <div class="pt-10">
                            <b>{{transferDetailsForm.get("arrivalAirline").value}}</b>
                        </div>
                    </div>

                    <div class="col-2">
                        Flight Number
                        <div class="pt-10">
                            <b>{{transferDetailsForm.get("arrivalFlightNo").value}}</b>
                        </div>
                    </div>

                    <div class="col-2">
                        Date of Arrival
                        <div class="pt-10">
                            <b>05/01/2021</b>
                        </div>
                    </div>

                    <div class="col-2">
                        Flight Landing Time
                        <div class="pt-10">
                            <b>15:30 PM</b>
                        </div>
                    </div>
                </div>

                <div class="tab-header pd-50 d-flex justify-content-between">
                    <b>Departure Flight Information</b>
                    <button class="btn-return" (click)="tabGroup.selectedIndex = 0"> < Edit</button>
                </div>
                <div class="row row-underline pb-50">
                    <div class="col-4">
                        Airline
                        <div class="pt-10">
                            <b>{{transferDetailsForm.get("departureAirline").value}}</b>
                        </div>
                    </div>

                    <div class="col-2">
                        Flight Number
                        <div class="pt-10">
                            <b>{{transferDetailsForm.get("departureFlightNo").value}}</b>
                        </div>
                    </div>

                    <div class="col-2">
                        Date of Arrival
                        <div class="pt-10">
                            <b>05/01/2021</b>
                        </div>
                    </div>

                    <div class="col-2">
                        Flight Landing Time
                        <div class="pt-10">
                            <b>15:30 PM</b>
                        </div>
                    </div>
                </div>

                <div class="tab-header pd-50 d-flex justify-content-between">
                    <b>Special Requests</b> (Water and beers already included)
                    <button class="btn-return" (click)="tabGroup.selectedIndex = 0"> < Edit</button>
                </div>
                <div class="row pb-50">
                    <div class="col-3">
                        <mat-radio-group aria-label="Select an option" matNativeControl id="" class="form-control" [ngClass]="[!boosterChecked ? 'mrb-disabled' : '']" name="" placeholder="">
                            <mat-radio-button [disabled]="!boosterChecked">Booster Seat</mat-radio-button>
                        </mat-radio-group>
                        <mat-radio-group aria-label="Select an option" matNativeControl id="" class="form-control pt-10" [ngClass]="[!babyChecked ? 'mrb-disabled' : '']" name="" placeholder="">
                            <mat-radio-button [disabled]="!babyChecked">Baby Seat</mat-radio-button>
                        </mat-radio-group>
                        <mat-radio-group aria-label="Select an option" matNativeControl id="" class="form-control pt-10" [ngClass]="[!wheelChecked ? 'mrb-disabled' : '']" name="" placeholder="">
                            <mat-radio-button [disabled]="!wheelChecked">Wheel Chair</mat-radio-button>
                        </mat-radio-group>
                        <mat-radio-group aria-label="Select an option" matNativeControl id="" class="form-control pt-10" [ngClass]="[!groceryChecked ? 'mrb-disabled' : '']" name="" placeholder="">
                            <mat-radio-button [disabled]="!groceryChecked">Grocery Stop</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-9">
                        Other Requests
                        <div class="pt-10">
                            <b>{{transferDetailsForm.get("request").value}}</b>
                        </div>
                    </div>
                </div>

                <div class="row-borderline-orange pb-50">
                    <div class="row pt-50">
                        <div class="col-5">
                            Total: <b>$250.00 USD</b>
                        </div>
                        
                        <div class="col-7 grey-text">
                            Prices include TAX and service fees. Please ask our staff for invoices and receipts.
                        </div>
                    </div>
                </div>

                <div class="tab-header pt-50 orange-text">
                    <b>Payment Method</b>
                </div>
                <div class="pb-50">
                    <div>
                        Select your prefered option and click <b>submit</b>. We will contact you shortly to confirm your reservation and proceed with the payment process.
                    </div>
                    <mat-radio-group aria-label="Select an option" matNativeControl id=""  class="form-control row pt-50" name="" placeholder="">
                        <mat-radio-button class="col-3" value=true>
                            <img class="paypal-img" src="../../../assets/paypal-logo.png" alt="Italian Trulli">
                        </mat-radio-button>
                        <mat-radio-button class="col-6" value=true>Pay upon arrival (cash, debit or credit)</mat-radio-button>
                        <mat-radio-button class="col-3" value=true>Debit or credit card</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="btn-container">
                        <button class="btn-return" (click)="tabGroup.selectedIndex = 1"> < Go Back</button>
                    </div>
                    <div class="btn-container">
                        <button class="btn-submit" (click)="performRequest();">Submit</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

    <!-- Footer -->
    <div class="section-sm section-purple neg-margin">
        <app-footer></app-footer>
    </div>
</div>
