::ng-deep .mat-tab-body-wrapper {
    padding-top: 19px;
}

.tab-header {
    font-size: 20px;
    font-weight: 500;
}

.row-underline {
    border-bottom: 1px solid #b6b6b6;
}

.row-borderline-orange {
    border-top: 1px solid #fd8103;
    border-bottom: 1px solid #fd8103;
}

.text-area {
    height: 100% !important;
    border: 2px solid #fd8103 !important;
    padding: 5px !important;
}

.paypal-img {
    height: 100px;
}

.neg-margin {
    margin: 0px -200px;
}