/**************************************************/
/****************CARD CLASSES START****************/
.card-background {
    height: 48vh;
    background-image: url(../../../assets/output-onlinepngtools.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 0em 1em;

    @media only screen and (max-width: 800px) {
        height: 28vh;
        padding: 0em .5em;
    }
}

.card-special-arrow {
    left: 90%;
    top: 40%;
    background-color: white;
    border: 3px solid #fd8103;
}

.card-img-container {
    height: 30%;
    align-content: end;

    @media only screen and (max-width: 800px) {
        display: none;
    }
}

.card-img {
    height: 7vh;
    width: fit-content;
    align-self: center;
}

.card-sm {
    @media only screen and (max-width: 800px) {
        width: 26vw !important;
    }
}
/*****************CARD CLASSES END*****************/
/**************************************************/

/**************************************************/
/*************COLLAPSABLE CLASSES START************/
.collapsable-container {
    display: block;
    height: 53.2vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em 3em;

    @media only screen and (max-width: 800px) {
        padding: 1em 0em;
    }
}

.collapsable {
    height: 150px;
    width: 100%;
    padding: 0px 50px;
    margin-bottom: 10px;
    align-items: start;
    text-align: start;
    font-size: x-large;
    margin: 7px 0px 7px 0px;
    box-shadow: 0px 0px 30px -10px black;

    @media only screen and (max-width: 800px) {
        font-size: large;
    }
}

.collapsable:hover {
    cursor: pointer;
}

.collapsable-clsd {
    height: 11vh;
    transition: height 1s;
}

.collapsable-open {
    height: 23vh;
    transition: height 1s;

    @media only screen and (max-width: 800px) {
        height: 25vh;
    }
}

.collapsable-header {
    height: 7.5vh;
    width: calc(100% - 10vw);
    align-items: end;
    position: absolute;

    @media only screen and (max-width: 800px) {
        height: 7.5vh;
        width: calc(100% - 20vw);
    }
}

.collapsable-title {
    width: 70%;
    @media only screen and (max-width: 800px) {
        width: 100%;
    }
}

.collapsable-body {
    height: auto;
    width: 100%;
    margin-bottom: 40px;
}

.expandBtn{
    width: 30%;
    text-align: end;
}

.collapsable-text-clsd {
    display: none;
}

.collapsable-text-open {
    padding-top: 10vh;
    display: block;
    animation: fadeIn 2s;
}
/**************COLLAPSABLE CLASSES END*************/
/**************************************************/
.card-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card-grid-2 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}