<div class="how-it-wrks-container">
    <div class="how-it-wrks">
        <div class="hiw-title d-flex">
            <div class="hiw-titlea">
                How it Works.
            </div>
            <div class="hiw-titleb">
                4 Nice and easy steps
            </div>
        </div>
        <div class="text">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <div class="card-number">
                1
            </div>
            <div class="card-content">
                <div class="card-content-title">
                    Book Your Shuttle
                </div>
                <div class="card-content-text">
                    Online, via email or over a phone call with our staff.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-number">
                2
            </div>
            <div class="card-content">
                <div class="card-content-title">
                    Confirmation Voucher
                </div>
                <div class="card-content-text">
                    Online, via email or over a phone call with our staff.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-number">
                3
            </div>
            <div class="card-content">
                <div class="card-content-title">
                    Book Your Shuttle
                </div>
                <div class="card-content-text">
                    Online, via email or over a phone call with our staff.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-number">
                4
            </div>
            <div class="card-content">
                <div class="card-content-title">
                    Book Your Shuttle
                </div>
                <div class="card-content-text">
                    Online, via email or over a phone call with our staff.
                </div>
            </div>
        </div>
    </div>

    <div class="contact-txt-btn">
        <div class="contact-txt">
            For groups larger than 10 passengers, please <b>contact us</b> for a quote. 
        </div>
        <button class="contact-btn">Contact Us</button>
    </div>
</div>