<div class="component-container scroll-container">
    <!-- We know activities too -->
    <div class="section purple-text">
        <div class="section-title">
            We know activities too.
        </div>

        <div class="d-flex justify-content-between">
            <p class="section-text" [ngClass]="[!isBigSize ? '' : 'w-75']">
                Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce elementum sed auctor curae sodales felis magna.
            </p>
            <div *ngIf="isBigSize">
                <button class="icon-btn-m icon-fw mx-1 mx-md-3" (click)="changePicture(false)">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button class="icon-btn-m icon-fw mx-1 mx-md-3" (click)="changePicture(true)">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>

        <div class="" style="justify-self: center;" [ngStyle]="{'padding-left': isBigSize ? '200px' : '0px'}">
            <div class="row-container row sm" id="contt" #contt>
                <div class="col- text-align-center card-with-text-img p-0" *ngFor="let activity of activities; index as i" style="margin: 0px 5px" [id]="'car' + i">
                    <div class="align-items-center">
                        <div class="vehicle-img white-text section-title p-1 p-md-5">
                            {{activity.name}}
                        </div>
                    </div>
                    <div class="vehicle-txt">
                        <div class="p-2 p-md-5">
                            <p><b class="purple-text">{{activity.text}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-text d-flex align-items-center justify-content-end pt-4">
            <div [ngClass]="[!isBigSize ? 'font-s' : 'pe-3']">
                To book or ask about one of our activities, please fill the&nbsp;<b>Activities Form</b>&nbsp;. Our team will get back to you immediately
            </div>
            <div class="btn-container">
                <button class="btn-submit">Activities</button>
            </div>
        </div>
    </div>

    <!-- Start your Group Reservation -->
    <div class="section-fit-content purple-text">
        <div class="section-title w-100">
            Book your Activities
        </div>

        <form [formGroup]="contactInformationForm" center>
            <div class="section-text">
                Please fill the following form, and write us a short message regarding your inquiry. Our team will reach back as soon as possible.
            </div>

            <div class="row section-form">
                <!-- Mat-Input - Full Name -->
                <div class="col-12 col-md-6 pb-3 pb-md-4">
                    <mat-form-field class="w-100" hideRequiredMarker="true">
                        <mat-label>Full Name</mat-label>
                        <input matInput id="fullName" formControlName="fullName" class="form-control" name="fullName" placeholder="Type your full name">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Email -->
                <div class="col-6 col-md-3 pt-md-0 py-3 py-md-0">
                    <mat-form-field class="w-100" hideRequiredMarker="true">
                        <mat-label>Email</mat-label>
                        <input matInput id="email" formControlName="email" class="form-control" name="email" placeholder="Type your email adrress">
                    </mat-form-field>
                </div>

                <!-- Mat-Input - Phone -->
                <div class="col-6 col-md-3 pt-md-0 py-3 py-md-0">
                    <mat-form-field class="w-100" hideRequiredMarker="true">
                        <mat-label>Phone Number</mat-label>
                        <input matInput id="phone" formControlName="phone" class="form-control" name="phone" placeholder="Type your phone number">
                    </mat-form-field>
                </div>

                <!-- Mat-Select - Destination -->
                <div class="col-12 col-md-6 py-3 py-md-0">
                    <mat-label>Activities</mat-label>
                    <mat-form-field class="w-100">
                        <mat-select matNativeControl id="activity" formControlName="activity" class="form-control" name="activity">
                            <mat-option *ngFor="let activity of activities" [value]="activity.name">{{activity.name}}</mat-option>
                        </mat-select>
                        <mat-error>Error</mat-error>
                    </mat-form-field>
                </div>

                <!-- Qty-Btns - Adults -->
                <div class="col-5 col-md-3 py-3 py-md-0 pt-md-2">
                    <div class="btn-label">Adults</div>
                    <div class="d-flex">
                        <button class="round-btn-sm" (click)="adultsNo = adultsNo ? adultsNo - 1 : adultsNo">-</button>
                        <div class="mx-4"><b>{{adultsNo}}</b></div>
                        <button class="round-btn-sm" (click)="adultsNo = adultsNo + 1">+</button>
                    </div>
                </div>

                <!-- Qty-Btns - Children -->
                <div class="col-5 col-md-3 py-3 py-md-0 pt-md-2">
                    <div class="btn-label">Children</div>
                    <div class="d-flex">
                        <button class="round-btn-sm" (click)="childsNo = childsNo ? childsNo - 1 : childsNo">-</button>
                        <div class="mx-4"><b>{{childsNo}}</b></div>
                        <button class="round-btn-sm" (click)="childsNo = childsNo + 1">+</button>
                    </div>
                </div>

                <!-- Mat-Input - Message -->
                <div class="col-8 col-md-9 pt-4">
                    <mat-label>Message</mat-label>
                    <mat-form-field class="w-100 no-underline" hideRequiredMarker="true">
                        <textarea matInput id="message" formControlName="message" class="text-area" name="message" placeholder="Type your message." rows="12"></textarea>
                    </mat-form-field>
                </div>

                <!-- Btn - Submit -->
                <div class="btn-container font-m align-self-end">
                    <button class="btn-submit" (click)="performRequest()">Send</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <div class="section-sm section-purple neg-margin">
        <app-footer></app-footer>
    </div>
</div>
