<div class="confirm-modal-container">
    <div style="justify-items: end;">
        <div class="btn-container font-m align-self-end">
            <button class="btn-close" (click)="closeModal()"></button>
        </div>
    </div>
    <div class="d-flex pt-4">
        <div class="font-m purple-text">
            Are you sure you want to Logout?
        </div>
        <div class="btn-container font-m align-self-end">
            <button class="btn-submit" (click)="closeModal(true)">Confirm</button>
        </div>
    </div>
</div>