/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    overflow: hidden;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% { height: .5; }
    100% { height: 1; }
}

// @font-face {
//     font-family: 'Sans3-Bold';
//     src: url('/src/assets/SourceSans3-Bold.otf') format('opentype');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Sans3-Regular';
//     src: url('/src/assets/SourceSans3-Regular.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Sans3-Light';
//     src: url('/src/assets/SourceSans3-Light.otf') format('opentype');
//     font-weight: light;
//     font-style: normal;
// }

/**************************************************/
/****************TEXT CLASSES START****************/
.orange-text {
    color: #fd8103;
}

.purple-text {
    color: #310370;
}

.white-text {
    color: white;
}

.grey-text {
    color: #b6b6b6;
}

.text-align-center {
    text-align: center;
}

.font-m {
    font-size: 18px;
}

.font-m-xxl {
    line-height: 48px;
    padding-left: 50px;
}

.font-l {
    font-size: 24px;
}

.font-xl {
    font-size: 36px;
}

.font-xxl {
    font-size: 42px;
}

.font-50 {
    font-size: 50px;
}
/*****************TEXT CLASSES END*****************/
/**************************************************/

/**************************************************/
/***************PADDING CLASSES START**************/
.pt-xxl {
    padding-top: 100px !important;
}

.pd-m {
    padding: 40px;
}

.pd-50 {
    padding: 40px 0px 50px 0px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pt-50 {
    padding-top: 40px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

/****************PADDING CLASSES END***************/
/**************************************************/

/**************************************************/
/**************STRUCTURE CLASSES START*************/
.navbar {
    background-color: #310370;
    padding: 0;
    height: 10vh;
    align-items: center;
    display: flex;
    font-family: "Sans3-Bold", sans-serif;
}

.sidebar{
    background-color: #f8f8f8;
    height: 90vh;
    width: 6vw;
    transition: 0.3s;
    @media only screen and (max-width: 800px) {
        width: 10vw;
    }
    .sbButtonList {
        padding: 0px 5px 0px 5px;
        .sbButton {
            background-color: #f8f8f8;
            border: 0cm;
            border-radius: 4px;
            padding-bottom: 4px;
            height: 7vh;
            width: 6vw;
            .sbButtonText {
                display: none;
            }
        }
    }
}

.sidebar:hover {
    width: 16vw;
    @media only screen and (max-width: 800px) {
        width: 20vw;
    }
    .sbButton {
        width: 16vw;
        .sbButtonText {
            animation: fadeIn 0.3s;
            display: block;
        }
    }
    .sbButton:hover {
        background-color: #d6dce1;
    }
}

.content {
    overflow: hidden;
    background-color: white;
    height: 90vh;
    width: 100vw;
    @media only screen and (max-width: 800px) {
        width: 90vw;
    }
}

.plantillaModal {
    mat-dialog-container {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    mat-dialog-container::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}


.cdk-global-scrollblock {
    overflow: auto;
}

.green-snackbar {
    background-color: green;
    color: #fff;
    button {
        display: none;
    }
}

.yellow-snackbar {
    background-color: orange;
    color: #fff;
    button {
        display: none;
    }
}

.red-snackbar {
    background-color: red;
    color: #fff;
    button {
        display: none;
    }
}

mat-progress-spinner{
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
}
/***************STRUCTURE CLASSES END**************/
/**************************************************/

/**************************************************/
/*********SECTION & CONTAINER CLASSES START********/
.scroll-container {
    height: 90vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Enable vertical snap */
    scroll-behavior: Smooth; /* Smooth scrolling effect */
}

.component-container {
    padding: 0px 200px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-container {
    padding: 50px 100px;
}

.section {
    height: 90vh; /* Each section takes full page height */
    padding: 0px 300px;
    scroll-snap-align: start; /* Aligns the top of the section */
    margin: 0;
}

.section-sm {
    height: 350px; /* Each section takes full page height */
    scroll-snap-align: start; /* Aligns the top of the section */
    margin: 0;
}

.section-m {
    height: 105vh; /* Each section takes full page height */
    padding: 0px 200px;
    scroll-snap-align: start; /* Aligns the top of the section */
    margin: 0;
}

.section-l {
    height: 120vh; /* Each section takes full page height */
    padding: 0px 200px;
    scroll-snap-align: start; /* Aligns the top of the section */
    margin: 0;
}

.section-xl {
    height: 135vh; /* Each section takes full page height */
    padding: 0px 200px;
    scroll-snap-align: start; /* Aligns the top of the section */
    margin: 0;
}

.section-xxxl {
    height: 170vh; /* Each section takes full page height */
    padding: 0px 200px;
    scroll-snap-align: start; /* Aligns the top of the section */
    margin: 0;
}

.section-purple {
    background-color: #310370;
    box-shadow: inset 0px 80px 90px -100px black;
}

.section-header {
    padding: 50px 75px;
}

.section-title {
    width: 500px;
    padding: 50px 75px;
    font-size: 50px;
    line-height: 50px;
}

.section-text {
    padding: 0px 75px;
    font-size: 18px;
}

.section-form {
    padding: 40px 75px 50px 75px;
}
/**********SECTION & CONTAINER CLASSES END*********/
/**************************************************/

/**************************************************/
/************BUTTON & ICON CLASSES START***********/
.icon-btn-sm {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #310370;
}

.icon-btn-m {
    height: 50px;
    width: 50px;
    border: 1px solid;
    border-radius: 50%;
    background-color: transparent;
    color: #fd8103;
}

.round-btn-sm {
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    background-color: white;
    color: #fd8103;
    border-color: #fd8103;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-label {
    padding-bottom: 10px;
}

.btn-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-container-l {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-submit {
    height: 100%;
    width: 100px;
    border: none;
    background-color: #fd8103;
    color: #310370;
}

.btn-return {
    background-color: transparent;
    color: #fd8103;
    border: none;
}
/*************BUTTON & ICON CLASSES END************/
/**************************************************/

/****************CARDS CLASSES START***************/
/**************************************************/
.cards {
    display: flex;
    justify-content: center;
}

.card {
    height: 350px;
    width: 300px;
    text-align: center;
    color: #310370;
    margin: 0px 10px;
    box-shadow: 0px 0px 90px -20px black;
}

.card-content-text {
    font-size: 18px;
    padding: 0px 35px;
    text-align: justify;
}

.card-special {
    position: absolute;
    z-index: 3;
    box-shadow: 0px 1px 3px 0px black;
    height: 55px;
    width: 55px;
    border-radius: 27.5px;
    font-size: xx-large;
    font-weight: bold;
}

.card-special-number {
    left: 40%;
    top: -7%;
    background-color: #fd8103;
    border: 3px solid white;    
}
/*****************CARDS CLASSES END****************/
/**************************************************/

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-button {
    background-color: transparent;
    border: transparent;
}

.text-button:hover{
    text-decoration: underline;
}

.solid-button {
    background-color: #385a68;
    color: #fff;
    border-radius: 5px;
}

.fluid-button {
    background-color: #385a68;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.img-container {
    width: fit-content;
    align-self: center;
}

.round-img {
    height: calc((100vw - 500px)/4);
    width: calc((100vw - 500px)/4);
    border-radius: 50%;
    border: 7px solid #fd8103;
}

.card-title {
    font-size: 50px;
    line-height: 50px;
}

.header-number {
    height: 30px;
    width: 30px;
    background-color: #fd8103;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

.header-text {
    padding-left: 30px;
    align-self: center;
}
/*********************MATERIAL*********************/
/**************************************************/
.mat-tab-group {
    padding-bottom: 50px;
}

.mat-tab-header {
    border: none;
}

.mat-ink-bar {
    display: none;
}

.mat-tab-labels {
    justify-content: space-between;
}

.mat-tab-label {
    height: 60px !important;
    width: 350px;
    opacity: 1 !important;
    color: rgb(255 255 255 / 38%);
    justify-content: space-between !important;
    text-decoration: none;
    background: 
    linear-gradient(#fd8103 0 0,) 
        bottom/
        var(--underline-width, 0%) 0.3em
        no-repeat !important;
    background-color: #310370 !important;
    transition: background-size 0.25s;
}

.mat-tab-label.mat-tab-disabled {
    color: rgb(255 255 255 / 38%);
}

.mat-tab-label:hover {
    --underline-width: 20%;
}

.mat-tab-label-active {
    color: white;
    --underline-width: 20%;
}

.mat-tab-label .mat-tab-label-content {
    width: 100%;
}

.mat-tab-body-wrapper {
    height: 100%;
    width: 100%;
    top: -25px !important;
    box-shadow: 0px 0px 90px -20px black;
}

// 
.no-underline {
    .mat-form-field-label {
        padding: 5px;
    }

    .mat-form-field-underline {
        display: none;
    
        .mat-form-field-ripple {
            display: none !important;
        }
    }
}

.mat-form-field-underline {
    background-color: #fd8103 !important;
    height: 2px !important;

    .mat-form-field-ripple {
        display: none !important;
    }
}

.form-control {
    border: none !important;
    padding: 0.375rem 0rem;
}

.form-control:focus {
    box-shadow: none !important;
    border: none !important;
}

.datePicker .mat-form-field-infix {
    display: flex !important;
}

.mat-form-field-label {
    color: #310370 !important;
    padding-bottom: 20px !important;
}

.mat-select-panel-wrap {
    border-radius: 5px;
    box-shadow: 0px 0px 90px -20px black;
    background-color: white;
}

.mat-select-value {
    color: #310370 !important;
}

.mat-select-arrow {
    color: #310370 !important;

    .mat-form-field-ripple {
        display: none !important;
    }
}

.mat-option-text {
    color: #310370 !important;
}


.mat-radio-outer-circle {
    border-color: #310370 !important;
}

.mat-radio-label {
    color: #310370 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #310370 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #310370 !important;
}

.mat-radio-button.mat-radio-disabled .mat-radio-inner-circle {
    background-color: transparent !important;
}

.mrb-disabled .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #b6b6b6 !important;
}

.mat-form-field-wrapper {
    height: 80px;
}

.mat-input-element {
    height: 40px !important;
    padding: 10px 0px !important;
}

.icon-fw {
    .material-icons {
        height: 100%;
        width: 100%;
        font-size: 30px !important;
        align-content: space-evenly;
    }
}